<%- include('./partials/head.ejs') %>

</head>
<%- include('./partials/header.ejs') %>
<main>

    <h1><%= `${pageTitle}` %></h1>


    <% if (songs.length > 0) { %>
    <p>Here are all the songs you've saved in songbook:</p>
    <div>
        <% for (let song of songs) { %>
        <article class="songcard">
            <h1>
                <%= song.title %>
            </h1>
            <h2>
                <%= song.artist %>
            </h2>
            <div>
                <form action="/music/delete-song" method="POST">
                    <a href="/music/songs/<%= song._id %>" class="btn">Details</a>
                    <a href="/music/songs/<%= song._id %>/edit" class="btn">Edit This Song</a>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="hidden" value="<%= song._id %>" name="songId">
                    <button class="btn" type="submit">Delete</button>
                </form>
            </div>
        </article>
        <% } %>
    </div>
    <% } else { %>
    <h4>No songs Found!</h4>
    <p>It looks as if you haven't added any songs, yet.
        Why not <a href="/music/addsong">add one now</a>?</p>
    <% } %>

</main>

<%- include('./partials/footer.ejs') %>